
body {
  margin: 0;
  padding-top: 760px;
  font-size: 100%;
  font-family: Karla;
}



.wrapper,
.icondown{
  width: 100%;
  margin: 0 auto;
  position: center;
}



/*Gradient from https://uigradients.com/ */
#Home {
    background: -webkit-linear-gradient(left, rgba(255,194,123,0.5), rgba(75, 18, 72,0.5)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, rgba(240, 194, 123,0.5), rgba(75, 18, 72,0.5)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, rgba(240, 194, 123,0.5), rgba(75, 18, 72,0.5)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, rgba(240, 194, 123,0.5), rgba(75, 18, 72,0.5)); /* Standard syntax (must be last) */ height:760px;

  }


/*Header Image*/
#header-bg {
background-image: url('../img/image1.jpg');
background-repeat:no-repeat;
width: 100%;
height: 760px;
opacity: 1;
position: relative;
background-size: cover;
/*position: fixed;*/
/*top : 0; to stick top of the page*/
 }



/*Contents other than header should be relative*/
.main-nav,
.main,section,footer {
  position: relative; 
}

/*main nav with white bg and zindex to stay above all the content*/
.main-nav {
  background: #fff;
  height: 40px;
  z-index: 200;
  margin-bottom: -40px;
  box-shadow: 0 2px 3px rgba(0,0,0,.4);
}


/*Header always stays at the top so fix its position*/
header,
.main-nav-scrolled {
  position: fixed;
  width: 100%;
  top: 0;
}



section{
  background: #fff;
  padding: 50px 50px;
}
section h2{
  color:  darkslateblue;
  float : none;
  width: 100%;
  display: block;
  text-align: center;
  padding-bottom: 50px;

  
}

footer{
  background: #fff;
   padding: 200px 150px 150px;
}

footer h3{
  color:  darkslateblue;
  float : none;
  width: 100%;
  display: block;
  text-align: center;
  padding: 0; 

}

.foolink{
  float : none;
  width: 100%;
  text-align : center;
}

img{
  width: 100%;
  height: 100%;
}

h1 { font-size: 2em; margin: 0.67em 0; color: #353535; }

.frontTagLine {
  font-family: Karla;
  color:  #fff;
  float: right;
  width: 40.5%;
  margin-right: 0.08334%;
  margin-top: 25.66%;
  position: relative; 
  
}



h2 span {
    display: block;
}

h4 span {
    display: block;
}

.frontTagLine a{
  float: left;
  padding : 0.5% 1%;
  
  margin-right: 1%;
}

a span{
  width: 100%;
  float: none;
  font-size: 50px;
  color: white; 
  padding-top: 50px;

}




a.btn.btn-transparent{
  border : 3px solid #fff;
  color: #fff;
  display: block;
  width: 40%;
  
}

