
body {
  margin: 0;
  padding-top: 760px;
  font-family: Karla;
}

header {
  height: 760px;
}

/*Gradient from https://uigradients.com/ */
#Home {
    background: -webkit-linear-gradient(left, rgba(255,194,123,0.5), rgba(75, 18, 72,0.5)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, rgba(240, 194, 123,0.5), rgba(75, 18, 72,0.5)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, rgba(240, 194, 123,0.5), rgba(75, 18, 72,0.5)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, rgba(240, 194, 123,0.5), rgba(75, 18, 72,0.5)); /* Standard syntax (must be last) */ height:760px;

  }


/*Header Image*/
#header-bg {
background-image: url('../img/image1.jpg');
background-repeat:no-repeat;
width: 100%;
height: 760px;
opacity: 1;
background-position: top center;
background-size: cover;
/*position: fixed;*/
/*top : 0; to stick top of the page*/
 }



/*Contents other than header should be relative*/
.main-nav,
.main {
  position: relative; 
}

/*main nav with white bg and zindex to stay above all the content*/
.main-nav {
  background: #fff;
  height: 40px;
  z-index: 200;
  margin-bottom: -40px;
  box-shadow: 0 2px 3px rgba(0,0,0,.4);
}


/*Header always stays at the top so fix its position*/
header,
.main-nav-scrolled {
  position: fixed;
  width: 100%;
  top: 0;
}



.main {
  background: #f2f2e8;
  padding: 110px 50px 50px;
  column-count: 2;
  column-gap: 40px;
}

.frontTagLine { 
   position: absolute; 
   top: 294px;   
   left: 675px; 
   width: 100%; 
   color: #fff;
   opacity: 1;
  
}
